h1 {
    color: darkorchid;
    font-style: italic;
  }
  
  .note {
    color: midnightblue;
    padding-top: 3px;
    font-size: 15px;
  }
  
  .error {
    color: darkslateblue;
    background: mediumturquoise;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }